<a ng-href="{{app.dashboardPage()}}" class="Editor-loader"
  ng-class="{'is-minimised': editor.settings.hideMainNav}"
  scrollbar-width-element="margin-left">
  <logo-loader inverted="editor.settings.hideMainNav"/>
</a>
<header role="banner" class="Header Editor-header"
  ng-class="{'is-minimised': editor.settings.hideMainNav}">
  <nav role="navigation"
    class="Editor-mainNav u-posRelative u-textCenter">
    <div class="u-posAbsoluteLeft">
      <a
        href="{{editor.versionPage()}}"
        class="Link--invert Header-item u-inlineBlock">
          <span class="u-sPH-1-4 u-sizeWidth1 u-gtemd-hidden"><i
            class="i i--arrow-left"></i></span>
          <span
            class="Editor-currentProject u-sm-hidden u-sML-1-2"><span ng-bind="editor.projectInfo.name">Loading </span> <span
            class="u-textMuted" ng-bind="editor.context.versionSlug">Loading </span></span>
      </a>
      <icon name="chevron-right"
        class="Icon--sm u-sMH-1-4 u-textInvert u-textMuted u-sm-hidden">
      </icon>
      <ul class="u-listInline u-inlineBlock">
        <li>
          <dropdown class="Dropdown">
            <button dropdown-toggle
              class="Dropdown-toggle Link--invert"/>
              <span ng-bind="editor.context.docId"></span>
              <icon name="chevron-down" class="Icon--sm Dropdown-toggleIcon"/>
            </button>
            <ul class="Dropdown-content Dropdown-content--bordered">
              <li ng-repeat="doc in editor.documents">
                <a ng-href="#/{{editor.context.projectSlug}}/{{editor.context.versionSlug}}/translate/{{editor.encodeDocId(doc.name)}}/{{editor.context.localeId}}"
                  class="Dropdown-item">
                  <span ng-bind="doc.name"></span>
                </a>
              </li>
            </ul>
          </dropdown>
        </li>
        <li>
          <dropdown class="Dropdown">
            <button dropdown-toggle
              class="Dropdown-toggle Link--invert"/>
              <span ng-bind="editor.getLocaleName(editor.context.localeId)"></span>
              <icon name="chevron-down" class="Icon--sm Dropdown-toggleIcon"/>
            </button>
            <ul class="Dropdown-content Dropdown-content--bordered">
              <li ng-repeat="locale in editor.locales">
                <a ng-href="#/{{editor.context.projectSlug}}/{{editor.context.versionSlug}}/translate/{{editor.encodeDocId(editor.context.docId)}}/{{locale.localeId}}"
                  class="Dropdown-item">
                  <span ng-bind="locale.name"></span>
                </a>
              </li>
            </ul>
          </dropdown>
        </li>
      </ul>
    </div>
    <ul class="u-listHorizontal u-posAbsoluteRight u-sMR-1-2">
      <li>
        <dropdown class="Dropdown Dropdown--right u-sMV-1-2">
          <a dropdown-toggle
            class="Dropdown-toggle Link--invert u-inlineBlock u-textNoWrap u-sPH-1-4"
            ng-bind="editor.getLocaleName(app.myInfo.locale.localeId)"/>
          </a>
          <ul class="Dropdown-content Dropdown-content--bordered">
            <li ng-repeat="locale in app.uiLocaleList">
              <a ng-click="app.onChangeUILocale(locale)" class="Dropdown-item u-textNoWrap u-textRight">
                <span ng-bind="editor.getLocaleName(locale.localeId)"></span>
              </a>
            </li>
          </ul>
        </dropdown>
      </li>
      <li ng-show="appCtrl.PRODUCTION">
        <button class="Link--invert Header-item u-sizeWidth-1_1-2"
          title="{{'More'|translate}}"><icon name="ellipsis"/><span
          class="u-hiddenVisually" translate>More</span></button>
      </li>
      <li ng-show="appCtrl.PRODUCTION">
        <button class="Link--invert Header-item u-sizeWidth-1_1-2"
          title="{{'Notifications'|translate}}">
          <icon name="notification" title="{{'Notifications'|translate}}"/>
        </button>
      </li>
      <li>
        <a ng-href="{{app.dashboardPage()}}" class="u-sizeHeight-2 u-sizeWidth-1_1-2 u-inlineBlock" title={{app.myInfo.name}}>
          <img class="u-round Header-avatar" ng-src="{{app.myInfo.gravatarUrl}}"/>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="u-bgHighest u-sPH-1-2 l--cf-of u-sizeHeight-1_1-2">
    <button
      class="Link--neutral u-sPV-1-4 u-floatLeft u-sizeHeight-1_1-2 u-sMR-1-4">
      <icon name="translate"></icon>
      <span class="u-ltemd-hidden u-sMR-1-4" translate> Translating</span></button>
    <div class="u-floatLeft">
      <ul class="u-listHorizontal u-sizeHeight-1">
        <li class="u-sm-hidden u-sMV-1-4">
          <div class="Toggle u-round u-textSecondary">
            <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-total" checked>
            <label class="Toggle-label" for="filter-phrases-total" title="{{'Total Phrases'|translate}}">
              <span ng-bind="editor.messageStatistic.total">0</span>
              <span class="u-hiddenVisually" translate>Total Phrases</span>
            </label>
          </div>
        </li>
        <li class="u-ltemd-hidden u-sMV-1-4">
          <div class="Toggle u-round u-textHighlight">
            <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-approved">
            <label class="Toggle-label" for="filter-phrases-approved" title="{{'Approved'|translate}}">
              <icon name="dot" class="Icon--xsm"/></icon>
              <span ng-bind="editor.messageStatistic.approved">0</span>
              <span class="u-hiddenVisually" translate>Approved</span>
            </label>
          </div>
        </li>
        <li class="u-ltemd-hidden u-sMV-1-4">
          <div class="Toggle u-round u-textSuccess">
            <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-translated">
            <label class="Toggle-label" for="filter-phrases-translated" title="{{'Translated'|translate}}">
              <icon name="dot" class="Icon--xsm"/></icon>
              <span ng-bind="editor.messageStatistic.translated">0</span>
              <span class="u-hiddenVisually" translate>Translated</span>
            </label>
          </div>
        </li>
        <li class="u-ltemd-hidden u-sMV-1-4">
          <div class="Toggle u-round u-textUnsure">
            <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-needs-work">
            <label class="Toggle-label" for="filter-phrases-needs-work" title="{{'Needs Work'|translate}}">
              <icon name="dot" class="Icon--xsm"/></icon>
              <span ng-bind="editor.messageStatistic.needswork">0</span>
              <span class="u-hiddenVisually" translate>Needs Work</span>
            </label>
          </div>
        </li>
        <li class="u-ltemd-hidden u-sMV-1-4">
          <div class="Toggle u-round u-textNeutral">
            <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-untranslated">
            <label class="Toggle-label" for="filter-phrases-untranslated" title="{{'Untranslated'|translate}}">
              <icon name="dot" class="Icon--xsm"/></icon>
              <span ng-bind="editor.messageStatistic.untranslated">0</span>
              <span class="u-hiddenVisually" translate>Untranslated</span>
            </label>
          </div>
        <li ng-show="appCtrl.PRODUCTION" class="u-sML-1-4">
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Filters'|translate}}">
            <icon name="filter" title="{{'Filters'|translate}}" class="u-sizeWidth-1_1-2"></icon>
          </button>
        </li>
        <li ng-show="appCtrl.PRODUCTION">
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Search'|translate}}">
            <icon name="search" title="{{'Search'|translate}}" class="u-sizeWidth-1_1-2"></icon>
          </button>
        </li>
      </ul>
    </div>
    <div class="u-floatRight">
      <ul class="u-listHorizontal u-textCenter">
        <li class="u-smv-1-4">
          <a class="Link--neutral u-sizeHeight-1_1-2"
            title="First page" ng-click="editor.firstPage()">
            <icon name="previous" title="First page" class="u-sizeWidth-1"></icon>
          </a>
        </li>
        <li class="u-smv-1-4">
          <a class="Link--neutral u-sizeHeight-1_1-2"
                  title="Previous page" ng-click="editor.previousPage()">
            <icon name="chevron-left" title="Previous page" class="u-sizeWidth-1"></icon>
          </a>
        </li>
        <li class="u-smv-1-4 u-sizeHeight-1_1-2 u-sPH-1-4">
          <span ng-bind="editor.pageNumber()" class="u-textNeutral"></span>
        </li>
        <li class="u-smv-1-4">
          <a class="Link--neutral u-sizeHeight-1_1-2"
                  title="Next page" ng-click="editor.nextPage()">
            <icon name="chevron-right" title="Next page" class="u-sizeWidth-1"></icon>
          </a>
        </li>
        <li class="u-smv-1-4">
          <a class="Link--neutral u-sizeHeight-1_1-2"
            title="Last page" ng-click="editor.lastPage()">
            <icon name="next" title="Last page" class="u-sizeWidth-1"></icon>
          </a>
        </li>
        <li ng-show="appCtrl.PRODUCTION">
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Translation Memory'|translate}}">
            <icon name="suggestions" title="{{'Translation Memory'|translate}}" class="u-sizeWidth-1_1-2"></icon>
          </button>
        </li>
        <li ng-show="appCtrl.PRODUCTION">
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Details'|translate}}">
            <icon name="info" title="{{'Details'|translate}}" class="u-sizeWidth-1_1-2"></icon>
          </button>
        </li>
        <li ng-show="appCtrl.PRODUCTION">
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Glossary'|translate}}">
            <icon name="glossary" title="{{'Glossary'|translate}}" class="u-sizeWidth-1_1-2"></icon>
          </button>
        </li>
        <li ng-show="appCtrl.PRODUCTION">
          <button class="Link--neutral u-sizeHeight-1_1-2"
          title="{{'Editor Settings'|translate}}">
            <icon name="settings" title="{{'Editor Settings'|translate}}" class="u-sizeWidth-1_1-2"></icon>
          </button>
        </li>
        <li>
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Keyboard Shortcuts'|translate}}"
            ng-click="editor.toggleKeyboardShortcutsModal()">
            <icon name="keyboard" title="{{'Keyboard Shortcuts'|translate}}" class="u-sizeWidth-1_1-2"
              ng-class="{'is-active': false}">
            </icon>
          </button>
        </li>
        <li>
          <button class="Link--neutral u-sizeHeight-1_1-2"
            title="{{'Hide Menubar'|translate}}"
            ng-click="editor.settings.hideMainNav = !editor.settings.hideMainNav">
            <icon name="chevron-up-double" title="{{'Hide Menubar'|translate}}" class="u-sizeWidth-1_1-2"
              ng-class="{'is-rotated': editor.settings.hideMainNav}">
            </icon>
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <progressbar progressbar-statistic="editor.messageStatistic"></progressbar>

</header>
