<header role="banner" class="header-banner">
  <nav role="navigation"
    class="p-relative txt--align-center txt--align-center-s"
    ng-class="{'is-hidden': editor.settings.hideMainNav}">
    <div class="p-absolute-left">
      <a
        href="/projects/{{editor.context.projectSlug}}/{{editor.context.versionSlug}}"
        class="bx--inline-block link--invert header-banner__item">
          <span class="l--pad-h-quarter w--r-1 is-hidden--m-l-up"><i
            class="i i--arrow-left"></i></span>
          <span
            class="editor__current-project is-hidden--m-l-down l--push-left-half"><span ng-bind="editor.projectInfo.name">Loading </span> <span
            class="txt--muted" ng-bind="editor.context.versionSlug">Loading </span></span>
      </a>
      <i
        class="i i--arrow-right l--push-h-quarter txt--invert txt--muted is-hidden--m-l-down"></i>
      <ul class="list--horizontal bx--inline-block">
        <li>
          <dropdown class="dropdown">
            <a dropdown-toggle
              class="dropdown__toggle link--invert"
              ng-bind="editor.context.document.name"/>
            </a>
            <ul class="dropdown__content">
              <li ng-repeat="doc in editor.documents">
                <a ng-href="#/{{editor.context.projectSlug}}/{{editor.context.versionSlug}}/translate/{{doc.name}}/{{editor.context.locale.localeId}}"
                  ng-click="editor.updateSelectedDoc(doc)">
                  <span ng-bind="doc.name"></span>
                </a>
              </li>
            </ul>
          </dropdown>
        </li>
        <li>
          <dropdown class="dropdown">
            <a dropdown-toggle
              class="dropdown__toggle link--invert"
              ng-bind="editor.context.locale.displayName"/>
            </a>
            <ul class="dropdown__content">
              <li ng-repeat="locale in editor.locales">
                <a ng-href="#/{{editor.context.projectSlug}}/{{editor.context.versionSlug}}/translate/{{editor.context.document.name}}/{{locale.localeId}}"
                  ng-click="editor.updateSelectedLocale(locale)">
                  <span ng-bind="locale.displayName"></span>
                </a>
              </li>
            </ul>
          </dropdown>
        </li>
      </ul>
    </div>
    <a href="/">
      <logo-loader loading="app.loading" ng-click="app.loading = !app.loading"/>
    </a>
    <ul class="list--inline p-absolute-right l--push-right-half">
      <li>
        <dropdown class="dropdown">
          <a dropdown-toggle
            class="dropdown__toggle link--invert"
            ng-bind="app.myInfo.locale.localeId"/>
          </a>
          <ul class="dropdown__content">
            <li ng-repeat="locale in app.uiLocaleList">
              <a ng-click="app.onChangeUILocale(locale)">
                <span ng-bind="locale.localeId"></span>
              </a>
            </li>
          </ul>
        </dropdown>

      </li>

      <li class="is-hidden--s"><a href="settings"
        class="link--invert header-banner__item w--r-1h"
        title="{{'Editor Settings'|translate}}"><i class="i i--large i--settings"></i><span
        class="is-sr-only" translate> Settings</span></a></li>
      <li>
        <button class="button--link link--invert header-banner__item w--r-1h"
          title="{{'More'|translate}}"><i class="i i--large i--ellipsis"></i><span
          class="is-sr-only" translate>More</span></button>
      </li>
      <li>
        <button class="button--link link--invert header-banner__item w--r-1h"
          title="{{'Notifications'|translate}}"><i
          class="i i--large i--notification"></i><span class="is-sr-only" translate>Notifications</span>
        </button>
      </li>
      <li>
        <a href="/dashboard" class="h--2 w--r-1h" title={{app.myInfo.name}}>
          <img class="bx--round header__avatar" ng-src="{{app.myInfo.gravatarUrl}}"/>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="bg--highest l--pad-h-half l--cf-of h--1h">
    <button
      class="button--link link--neutral l--pad-v-quarter l--float-left h--1h l--push-right-quarter">
      <i class="i i--large i--translate"></i><span
      class="is-hidden--s l--push-right-quarter" translate> Translating</span></button>
    <ul class="list--inline l--float-left">
      <li class="is-hidden--m-l-down"><a
        class="l--pad-h-quarter l--push-v-quarter bx--inline-block bg--secondary bx--round link--invert"
        title="{{'Total Phrases'|translate}}" ng-bind="editor.wordStatistic.total">0<span
        class="is-sr-only" translate>Total Phrases</span></a></li>
      <li class="is-hidden--m-l-down"><a
        class="l--pad-h-quarter l--push-v-quarter bx--inline-block"
        title="{{'Approved'|translate}}"><i class="i i--dot"></i><strong ng-bind="editor.wordStatistic.approved">0</strong><span
        class="is-sr-only" translate>Approved</span></a></li>
      <li class="is-hidden--m-l-down"><a
        class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--success"
        title="{{'Translated'|translate}}"><i class="i i--dot"></i><strong ng-bind="editor.wordStatistic.translated">0</strong><span
        class="is-sr-only" translate>Translated</span></a></li>
      <li class="is-hidden--m-l-down"><a
        class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--unsure"
        title="{{'Fuzzy'|translate}}"><i class="i i--dot"></i><strong ng-bind="editor.wordStatistic.needsWork">0</strong><span
        class="is-sr-only" translate>Fuzzy</span></a></li>
      <li class="is-hidden--m-l-down"><a
        class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--neutral"
        title="{{'Untranslated'|translate}}"><i class="i i--dot"></i><strong ng-bind="editor.wordStatistic.untranslated">0</strong><span
        class="is-sr-only" translate>Untranslated</span></a></li>
      <li>
        <button class="button--link link--neutral h--1h w--r-1h"
          title="{{'Filters'|translate}}"><i class="i i--large i--filter"></i><span
          class="is-sr-only" translate>More filters</span></button>
      </li>
      <li>
        <button class="button--link link--neutral h--1h w--r-1h"
          title="{{'Search'|translate}}"><i class="i i--large i--search"></i><span
          class="is-sr-only" translate>Search</span></button>
      </li>
    </ul>
    <div class="l--float-right">
      <ul class="list--inline">
        <li>
          <button class="button--link link--neutral h--1h w--r-1h"
            title="{{'Translation Memory'|translate}}"><i
            class="i i--large i--suggestion"></i><span class="is-sr-only" translate>Translation Memory</span>
          </button>
        </li>
        <li>
          <button class="button--link link--neutral h--1h w--r-1h"
            title="{{'Details'|translate}}"><i class="i i--large i--info"></i><span
            class="is-sr-only" translate>Details</span></button>
        </li>
        <li>
          <button class="button--link link--neutral h--1h w--r-1h"
            title="{{'Glossary'|translate}}"><i class="i i--large i--glossary"></i><span
            class="is-sr-only" translate>Glossary</span></button>
        </li>
        <li>
          <button class="button--link link--neutral h--1h w--r-1h"
            title="{{'Hide Menubar'|translate}}"
            ng-click="editor.settings.hideMainNav = !editor.settings.hideMainNav">
            <i class="i i--large"
              ng-class="{'i--hide-down': editor.settings.hideMainNav, 'i--hide-up': !editor.settings.hideMainNav}"></i>
            <span class="is-sr-only" translate>Hide Menubar</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <progressbar progressbar-statistic="editor.wordStatistic" size="full"></progressbar>

</header>
