<div id="editor-suggestions-resizer"
  resizer="horizontal"
  resizer-position="30%"
  resizer-height="12"
  resizer-top="#editor-content"
  resizer-max="60%"
  resizer-bottom="#editor-suggestions">
</div>

<aside class="Editor-suggestions Editor-panel" id="editor-suggestions">

  <nav class="u-bgHighest u-sPH-3-4 u-sizeHeight-1_1-2">
    <h2 class="Heading--panel u-sPV-1-4 u-floatLeft u-sizeHeight-1_1-2 u-floatLeft">
      <icon name="suggestions"
        class="Icon--sm u-textMuted">
      </icon>
        Suggestions
    </h2>
    <div class="u-floatRight">
      <ul class="u-listHorizontal u-textCenter">
<!--         <li class="u-smv-1-4">
          <a class="Link--neutral u-sizeHeight-1_1-2"
            title="Auto-fill" ng-click="suggestions.toggleAutofill()">
            (switch icon)
            Auto-fill
          </a>
        </li> -->
        <li class="u-smv-1-4">
          <a class="Link--neutral u-sizeHeight-1_1-2"
            title="Difference" ng-click="suggestions.toggleDifference()">
            Difference
          </a>
        </li>
        <li>
          <button class="Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2" title="Search suggestions" ng-click="suggestions.search()">
            <icon name="search" title="Search suggestions" class="Icon--sm"></icon>
          </button>
        </li>
        <li>
          <button class="Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2" title="Close suggestions" ng-click="suggestions.hideResults()">
            <icon name="cross" title="Close suggestions" class="Icon--sm"></icon>
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="Editor-suggestionsBody">

    <div ng-repeat="suggestion in editorSuggestions.suggestions">
      <suggestion suggestion="suggestion"></suggestion>
    </div>

  </div>

</aside>
