<div ng-controller="EditorCtrl as editor">

  <header role="banner" class="header-banner">
    <nav role="navigation"
      class="p-relative txt--align-center txt--align-center-s"
      ng-class="{'is-hidden': editor.settings.hideMainNav}">
      <div class="p-absolute-left">
        <a
          href="/projects/{{editor.context.projectSlug}}/{{editor.context.versionSlug}}"
          class="bx--inline-block link--invert header-banner__item">
          <span class="l--pad-h-quarter w--r-1 is-hidden--m-l-up"><i
            class="i i--arrow-left"></i></span>
          <span
            class="editor__current-project is-hidden--m-l-down l--push-left-half">{{editor.projectInfo.name}} <span
            class="txt--muted">{{editor.context.versionSlug}}</span></span>
        </a>
        <i
          class="i i--arrow-right l--push-h-quarter txt--invert txt--muted is-hidden--m-l-down"></i>
        <ul class="list--horizontal bx--inline-block">
          <li>
            <div dropdown-select="editor.documents"
              dropdown-model="editor.selectedDocument"
              dropdown-item-label="name"
              dropdown-on-change="editor.loadStatistic()">
            </div>
          </li>
          <li>
            <div dropdown-select="editor.locales"
              dropdown-model="editor.selectedLocale"
              dropdown-item-label="displayName"
              dropdown-on-change="editor.loadStatistic()">
            </div>
          </li>
        </ul>
      </div>
      <a href="/">
        <img class="h--1h l--push-v-quarter" src="img/logo/logo-invert.svg">
        <!-- <span class="spinner is-loading"><span class="is-sr-only">Loading</span></span> -->
      </a>
      <ul class="list--inline p-absolute-right l--push-right-half">
        <li class="is-hidden--s"><a href="settings"
          class="link--invert header-banner__item w--r-1h"
          title="Editor Settings"><i class="i i--large i--settings"></i><span
          class="is-sr-only"> Settings</span></a></li>
        <li>
          <button class="button--link link--invert header-banner__item w--r-1h"
            title="More"><i class="i i--large i--ellipsis"></i><span
            class="is-sr-only">More</span></button>
        </li>
        <li>
          <button class="button--link link--invert header-banner__item w--r-1h"
            title="Notifications"><i
            class="i i--large i--notification"></i><span class="is-sr-only">Notifications</span>
          </button>
        </li>
        <li>
          <a href="/dashboard" class="h--2 w--r-1h">
            <img class="bx--round header__avatar"
              src="http://www.gravatar.com/avatar/fd8eefdca68e2044a7680d7a0cf574d7?d=mm&amp;r=g&amp;s=72"/>
          </a>
        </li>
      </ul>
    </nav>
    <nav class="bg--highest l--pad-h-half l--cf-of h--1h">
      <button
        class="button--link link--neutral l--pad-v-quarter l--float-left h--1h l--push-right-quarter">
        <i class="i i--large i--translate"></i><span
        class="is-hidden--s l--push-right-quarter"> Translating</span></button>
      <ul class="list--inline l--float-left">
        <li class="is-hidden--m-l-down"><a
          class="l--pad-h-quarter l--push-v-quarter bx--inline-block bg--secondary bx--round link--invert"
          title="Total Phrases">{{editor.wordStatistic.total}}<span
          class="is-sr-only">Total Phrases</span></a></li>
        <li class="is-hidden--m-l-down"><a
          class="l--pad-h-quarter l--push-v-quarter bx--inline-block"
          title="Approved"><i class="i i--dot"></i><strong>{{editor.wordStatistic.approved}}</strong><span
          class="is-sr-only">Approved</span></a></li>
        <li class="is-hidden--m-l-down"><a
          class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--success"
          title="Translated"><i class="i i--dot"></i><strong>{{editor.wordStatistic.translated}}</strong><span
          class="is-sr-only">Translated</span></a></li>
        <li class="is-hidden--m-l-down"><a
          class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--unsure"
          title="Fuzzy"><i class="i i--dot"></i><strong>{{editor.wordStatistic.fuzzy}}</strong><span
          class="is-sr-only">Fuzzy</span></a></li>
        <li class="is-hidden--m-l-down"><a
          class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--neutral"
          title="Untranslated"><i class="i i--dot"></i><strong>{{editor.wordStatistic.untranslated}}</strong><span
          class="is-sr-only">Untranslated</span></a></li>
        <li>
          <button class="button--link link--neutral h--1h w--r-1h"
            title="Filters"><i class="i i--large i--filter"></i><span
            class="is-sr-only">More filters</span></button>
        </li>
        <li>
          <button class="button--link link--neutral h--1h w--r-1h"
            title="Search"><i class="i i--large i--search"></i><span
            class="is-sr-only">Search</span></button>
        </li>
      </ul>
      <div class="l--float-right">
        <ul class="list--inline">
          <li>
            <button class="button--link link--neutral h--1h w--r-1h"
              title="Translation Memory"><i
              class="i i--large i--suggestion"></i><span class="is-sr-only">Translation Memory</span>
            </button>
          </li>
          <li>
            <button class="button--link link--neutral h--1h w--r-1h"
              title="Details"><i class="i i--large i--info"></i><span
              class="is-sr-only">Details</span></button>
          </li>
          <li>
            <button class="button--link link--neutral h--1h w--r-1h"
              title="Glossary"><i class="i i--large i--glossary"></i><span
              class="is-sr-only">Glossary</span></button>
          </li>
          <li>
            <button class="button--link link--neutral h--1h w--r-1h"
              title="Hide Menubar"
              ng-click="editor.settings.hideMainNav = !editor.settings.hideMainNav">
              <i class="i i--large"
                ng-class="{'i--hide-down': editor.settings.hideMainNav, 'i--hide-up': !editor.settings.hideMainNav}"></i>
              <span class="is-sr-only">Hide Menubar</span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="progress-bar progress-bar--full">
      <span class="progress-bar__approved"
        ng-style="{'width': editor.statisticStyles.approved.width, 'margin-left': editor.statisticStyles.approved.marginLeft}"></span>
      <span class="progress-bar__translated"
        ng-style="{'width': editor.statisticStyles.translated.width, 'margin-left': editor.statisticStyles.translated.marginLeft}"></span>
      <span class="progress-bar__fuzzy"
        ng-style="{'width': editor.statisticStyles.fuzzy.width, 'margin-left': editor.statisticStyles.fuzzy.marginLeft}"></span>
      <span class="progress-bar__untranslated"
        ng-style="{'width': editor.statisticStyles.untranslated.width, 'margin-left': editor.statisticStyles.untranslated.marginLeft}"></span>
    </div>
  </header>

  <main role="main">
    <ul class="editor__content list--no-bullets">
      <li ng-repeat="phrase in editor.phrases">
        <div class="edit-item edit-item--{{ phrase.status }}"
          ng-class="phrase.classes">
          <div class="edit-item__panel edit-item__source">
            <div class="edit-item__panel-header">
              <h3 class="edit-item__heading">English <span class="txt--muted">EN-US</span>
              </h3>
              <ul class="edit-item__panel-header-actions list--inline">
                <li>
                  <button class="button--link link--neutral h--1h w--r-1h"
                    title="Do not translate"><i class="i i--large i--block"></i><span
                    class="is-sr-only">Do not translate</span></button>
                </li>
              </ul>
            </div>
            <div match-height-target class="edit-item__text"
              ng-bind="phrase.source"></div>
            <div class="edit-item__panel-footer is-hidden--s">
              <div class="h--1h">
                <button class="button--link link--neutral h--1h w--r-1h"
                  title="Details"><i class="i i--large i--info"></i></button>
              </div>
            </div>
          </div>
          <div class="edit-item__status">
            <span class="is-sr-only" ng-bind="phrase.status"></span>
            <ul class="list--no-bullets edit-item__meta-data">
              <li ng-if="phrase.comments"
                class="edit-item__meta-data-item edit-item__meta-data-comments">
                <button tabindex="-1"
                  class="edit-item__meta-data-button button--unstyled"
                  title="{{phrase.comments}} comments"><i
                  class="i i--comment"></i><br><span
                  ng-bind="phrase.comments"></span></button>
              </li>
              <li ng-if="phrase.errors"
                class="edit-item__meta-data-item edit-item__meta-data-errors">
                <button tabindex="-1"
                  class="edit-item__meta-data-button button--unstyled"
                  title="1 Error"><i class="i i--dot txt--danger"></i>
              </li>
            </ul>
          </div>
          <div class="edit-item__panel edit-item__translation">
            <div class="edit-item__panel-header">
              <h3 class="edit-item__heading">French <span
                class="txt--muted">FR</span></h3>
              <ul class="edit-item__panel-header-actions list--inline">
                <li>
                  <button class="button--link link--neutral h--1h w--r-1h"
                    title="Copy English (EN-US)"><i
                    class="i i--large i--copy"></i><span class="is-sr-only">Copy English (EN-US)</span>
                  </button>
                </li>
                <li>
                  <button class="button--link link--neutral h--1h w--r-1h"
                    title="Cancel edit"><i
                    class="i i--large i--cancel"></i><span class="is-sr-only">Cancel edit</span>
                  </button>
                </li>
              </ul>
            </div>
            <textarea msd-elastic match-height-source
              ng-model="phrase.translation" class="edit-item__text" rows="1"
              placeholder="Enter a translation…"></textarea>

            <div class="edit-item__panel-footer l--cf-of">
              <div class="l--float-left h--1h">
                <ul class="list--inline">
                  <li class="is-hidden--m-up">
                    <button class="button--link link--neutral h--1h w--r-1h"
                      title="Details"><i class="i i--large i--info"></i>
                    </button>
                  </li>
                  <li>
                    <button class="button--link link--neutral h--1h w--r-1h"
                      title="Translation Memory"><i
                      class="i i--large i--suggestion"></i><span
                      class="is-sr-only">Translation Memory</span></button>
                  </li>
                </ul>
              </div>
              <div class="l--float-right">
                <div class="button--group">
                  <button class="button button--flat button--success h--1h"
                    title="Ctrl + Enter">Save as translated
                  </button>
                  <button class="button button--flat button--success h--1h "
                    title="Save as…"><i class="i i--arrow-down"></i><span
                    class="is-sr-only">Save as…</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </main>

  <aside class="editor__suggestions editor__panel">

  </aside>

  <aside class="editor__suggestions editor__panel">

  </aside>

</div>
