<div class="Editor" scrollbar-width>
  <div id="editor-header" ng-include="'editor/editor-header.html'"></div>

  <div ui-view="editor-content"></div>

  <div ui-view="editor-suggestions"></div>

  <div ui-view="editor-details"></div>

  <div class="Modal" ng-class="{'is-active': editor.showCheatsheet}" >
    <div class="Modal-dialog">
      <div class="Modal-header">
        <h2 class="Modal-title">Keyboard Shortcuts</h2>
        <button class="Modal-close Link Link--neutral"
                ng-click="editor.showCheatsheet = false">
          <icon name="cross" title="Close"></icon>
        </button>
      </div>
      <div class="Modal-content u-sP-1">
        <ul>
          <li class="Grid" ng-repeat="shortcut in editor.shortcuts">
            <div class="Grid-cell u-size1of2 u-sPR-1-4
                    u-sPV-1-4 u-textRight">
              <kbd ng-repeat="key in shortcut.combos track by $index"
                      >{{ key }}</kbd>
            </div>
            <div class="Grid-cell u-size1of2 u-sPL-1-4
                     u-sPV-1-4">
              {{ shortcut.description }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


