/** @define Editor; use strict */

:root {
  --Editor-rhythm: 1.5rem;
  --Editor-transition-ease: cubic-bezier(.175, .885, .320, 1.275);
  --Editor-color-status-bg: color(#416988 tint(82%));
  --Editor-color-translation-bg: #fff;
}

.Editor {
  overflow: hidden;
}

.Editor-header,
.Editor-loader,
.Editor-content {
  transition: .2s all var(--Editor-transition-ease);
}

.Editor-header.is-minimised {
  transform: translateY(calc(var(--Editor-rhythm) * -2));
}

.Editor-header.is-minimised .Editor-mainNav {
  visibility: hidden;
}

.Editor-loader {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(var(--Editor-rhythm) * .25));
}

.Editor-loader.is-minimised {
  transform: translateX(-50%) scale(.75, .75);
}

.Editor-mainNav {
  height: calc(var(--Editor-rhythm) * 2);
}

.Editor-content {
  position: fixed;
  top: calc(var(--Editor-rhythm) * 4);
  bottom: 0;
  overflow: auto;
  overflow-y: scroll;
  width: 100%;
  -webkit-overlow-scrolling: touch;
}

.Editor-content.is-maximised {
  bottom: calc(var(--Editor-rhythm) * -2);
  transform: translateY(calc(var(--Editor-rhythm) * -2));
}

.Editor-translations {
  min-height: 100%;
  padding: calc(var(--Editor-rhythm) * 1.5) 0 calc(var(--Editor-rhythm) * 1.5);
  background-position: left center;
  background-image: linear-gradient(left, var(--Editor-color-status-bg), var(--Editor-color-status-bg));
  background-size: var(--rhythm) 100%;
  background-repeat: no-repeat;
}

.Editor-currentDoc {
  max-width: calc(var(--Editor-rhythm) * 3.5);
}

.Editor-currentLang {
  max-width: calc(var(--Editor-rhythm) * 3.5);
}

/**
 * Media Queries
 */

@media (--sm-viewport) {
  .Editor-currentProject {
    max-width: calc(var(--Editor-rhythm) * 3.5);
  }
}

@media (--gtemd-viewport) {
  .Editor-translations {
    background-position:
      center center;
    background-image:
      linear-gradient(left, var(--Editor-color-status-bg), var(--Editor-color-status-bg)),
      linear-gradient(left, transparent 0%, transparent 50%,
        var(--Editor-color-translation-bg) 50%, var(--Editor-color-translation-bg) 100%);
    background-size:
      var(--rhythm) 100%,
      100% 100%;
    background-repeat:
      no-repeat;
  }
}
