/**
 * Utils
 */

@import './css/components/utils-layout/index.css';
@import './css/components/utils-background/index.css';
@import './css/components/utils-display/index.css';
@import './css/components/utils-list/index.css';
@import './css/components/utils-position/index.css';
@import './css/components/utils-size/index.css';
@import './css/components/utils-space/index.css';
@import './css/components/utils-text/index.css';

/**
 * Components
 */

@import 'suitcss-components-grid';
@import './css/components/base/index.css';
@import './css/components/button-group/index.css';
@import './css/components/button/index.css';
@import './css/components/input-group/index.css';
@import './css/components/dropdown/index.css';
@import './css/components/header/index.css';
@import './css/components/heading/index.css';
@import './css/components/icon/index.css';
@import './css/components/links/index.css';
@import './css/components/difference/index.css';
@import './css/components/logo-loader/index.css';
@import './css/components/ProgressBar/index.css';
@import './css/components/modal/index.css';
@import './css/components/toggle/index.css';
@import './css/components/switch/index.css';
@import './css/components/transUnit/index.css';
@import './css/components/resizer/index.css';


/**
 * Views
 */

@import './css/editor/index.css';


/**
 * Theme
 */

@import './css/components/theme/index.css';


/* Fix for hotkeys, remove this when reimplemented */

.fade {
  transition: opacity .25s easein;
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

/* Angular specific classes */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
