# bower used to be used, so this ensures old build directories are still ignored
bower_components
bower_main

build
node_modules
npm-debug.log
storybook-static

# idea
*.idea/
*.iml
*.orig

# imdone task board
.imdone
