<div class="edit-item__status">
  <span class="is-sr-only" ng-bind="phrase.status"></span>
  <ul class="list--no-bullets edit-item__meta-data">
    <li ng-if="phrase.comments"
      class="edit-item__meta-data-item edit-item__meta-data-comments">
      <button tabindex="-1"
        class="edit-item__meta-data-button button--unstyled"
        title="{{phrase.comments}} comments"><i
        class="i i--comment"></i><br><span
        ng-bind="phrase.comments"></span></button>
    </li>
    <li ng-if="phrase.errors"
      class="edit-item__meta-data-item edit-item__meta-data-errors">
      <button tabindex="-1"
        class="edit-item__meta-data-button button--unstyled"
        title="1 Error"><i class="i i--dot txt--danger"></i>
    </li>
  </ul>
</div>
