<div class="TransUnit-status">
  <span class="u-hiddenVisually" ng-bind="phrase.status"></span>
  <ul class="TransUnit-metaData">
    <li ng-if="phrase.comments"
      class="TransUnit-metaDataItem TransUnit-metaDataComments">
      <button tabindex="-1"
        class="TransUnit-metaDataButton"
        title="{{phrase.comments}} comments"><i
        class="i i--comment"></i><br><span
        ng-bind="phrase.comments"></span></button>
    </li>
    <li ng-if="phrase.errors"
      class="TransUnit-metaDataItem TransUnit-metaDataErrors">
      <button tabindex="-1"
        class="TransUnit-metaDataButton"
        title="1 Error"><i class="i i--dot u-textDanger"></i>
    </li>
  </ul>
</div>
