/**
 * Utils
 */

@import 'suitcss-utils-layout';
@import './components/utils-background/index.css';
@import './components/utils-display/index.css';
@import './components/utils-list/index.css';
@import './components/utils-position/index.css';
@import './components/utils-size/index.css';
@import './components/utils-space/index.css';
@import './components/utils-text/index.css';


/**
 * Components
 */

@import 'suitcss-components-grid';
@import './components/base/index.css';
@import './components/button-group/index.css';
@import './components/button/index.css';
@import './components/dropdown/index.css';
@import './components/header/index.css';
@import './components/heading/index.css';
@import './components/icon/index.css';
@import './components/links/index.css';
@import './components/logo-loader/index.css';
@import './components/progressbar/index.css';
@import './components/modal/index.css';
@import './components/toggle/index.css';
@import './components/transUnit/index.css';
@import './components/resizer/index.css';


/**
 * Views
 */

@import './editor/index.css';


/**
 * Theme
 */

@import './components/theme/index.css';


/* Fix for hotkeys, remove this when reimplemented */

.fade {
  transition: opacity .25s easein;
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

/* Angular specific classes */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
