/*Fix for hotkeys*/

.fade {
  opacity: 0;
  transition: opacity .25s easein;
}

.fade.in {
  opacity: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
