<ul class="u-listHorizontal u-sizeHeight-1">
  <li class="u-sm-hidden u-sMV-1-4">
    <div class="Toggle u-round u-textSecondary">
      <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-total" checked
        ng-model="editor.filter.status.all" ng-change="editor.resetFilter()">
      <label class="Toggle-label" for="filter-phrases-total" title="{{::'Total Phrases'|translate}}">
        <span ng-bind="editor.messageStatistic.total">0</span>
        <span class="u-hiddenVisually" translate>Total Phrases</span>
      </label>
    </div>
  </li>
  <li class="u-ltemd-hidden u-sMV-1-4">
    <div class="Toggle u-round u-textHighlight">
      <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-approved"
        ng-model="editor.filter.status.approved" ng-change="editor.updateFilter()">
      <label class="Toggle-label" for="filter-phrases-approved" title="{{::'Approved'|translate}}">
        <icon name="dot" class="Icon--xsm"/></icon>
        <span ng-bind="editor.messageStatistic.approved">0</span>
        <span class="u-hiddenVisually" translate>Approved</span>
      </label>
    </div>
  </li>
  <li class="u-ltemd-hidden u-sMV-1-4">
    <div class="Toggle u-round u-textSuccess">
      <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-translated"
        ng-model="editor.filter.status.translated" ng-change="editor.updateFilter()">
      <label class="Toggle-label" for="filter-phrases-translated" title="{{::'Translated'|translate}}">
        <icon name="dot" class="Icon--xsm"/></icon>
        <span ng-bind="editor.messageStatistic.translated">0</span>
        <span class="u-hiddenVisually" translate>Translated</span>
      </label>
    </div>
  </li>
  <li class="u-ltemd-hidden u-sMV-1-4">
    <div class="Toggle u-round u-textUnsure">
      <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-needs-work"
        ng-model="editor.filter.status.needsWork" ng-change="editor.updateFilter()">
      <label class="Toggle-label" for="filter-phrases-needs-work" title="{{::'Needs Work'|translate}}">
        <icon name="dot" class="Icon--xsm"/></icon>
        <span ng-bind="editor.messageStatistic.needswork">0</span>
        <span class="u-hiddenVisually" translate>Needs Work</span>
      </label>
    </div>
  </li>
  <li class="u-ltemd-hidden u-sMV-1-4">
    <div class="Toggle u-round u-textNeutral">
      <input class="Toggle-checkbox" toggle-checkbox type="checkbox" id="filter-phrases-untranslated"
        ng-model="editor.filter.status.untranslated" ng-change="editor.updateFilter()">
      <label class="Toggle-label" for="filter-phrases-untranslated" title="{{::'Untranslated'|translate}}">
        <icon name="dot" class="Icon--xsm"/></icon>
        <span ng-bind="editor.messageStatistic.untranslated">0</span>
        <span class="u-hiddenVisually" translate>Untranslated</span>
      </label>
    </div>
  <li ng-show="appCtrl.PRODUCTION" class="u-sML-1-4">
    <button class="Link--neutral u-sizeHeight-1_1-2"
      title="{{::'Filters'|translate}}">
      <icon name="filter" title="{{::'Filters'|translate}}" class="u-sizeWidth-1_1-2"></icon>
    </button>
  </li>
  <li ng-show="appCtrl.PRODUCTION">
    <button class="Link--neutral u-sizeHeight-1_1-2"
      title="{{::'Search'|translate}}">
      <icon name="search" title="{{::'Search'|translate}}" class="u-sizeWidth-1_1-2"></icon>
    </button>
  </li>
</ul>
