:root {
  --rhythm: 1.5rem;
  --color-logo: #4A9DDF;
  --color-bg: #FFFFFF;
  --color-logo-invert: var(--color-bg);
  --color-bg-invert: var(--color-logo);
  --transition-ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.LogoLoader {
  position: relative;
  border-radius: 100px;
  background-color: var(--color-bg);
  overflow: hidden;
  display: inline-block;
  height: calc(var(--rhythm) * 1.5);
  width: calc(var(--rhythm) * 1.5);
  color: var(--color-logo);
}

.LogoLoader--inverted {
  color: var(--color-logo-invert);
  background-color: var(--color-bg-invert);
}

.LogoLoader.is-loading {
  animation: rotate .3s infinite linear;
  animation-delay: .05s;
}

.LogoLoader-logo,
.LogoLoader-loader {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s var(--transition-ease-out-back);
  transform: scale(1,1);
  fill: currentColor;
}

.LogoLoader-logo {
  transform: scale3d(1,1,1);
  opacity: 1;
}

.LogoLoader:hover .LogoLoader-logo {
  animation: pop .3s var(--transition-ease-out-back);
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.LogoLoader.is-loading .LogoLoader-logo {
  opacity: 0;
  transform: scale(0,0);
}

.LogoLoader-loader {
  opacity: 0;
  transform: scale(2.5,2.5);
}

.LogoLoader.is-loading .LogoLoader-loader {
  opacity: 1;
  transform: scale(1,1);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  to {
    transform: scale(1.2, 1.2) rotate(15deg);
  }
}
