<div class="progress-bar progress-bar--full">
  <span class="progress-bar__approved"
    ng-style="{'width': style.approved.width, 'margin-left': style.approved.marginLeft}"></span>
  <span class="progress-bar__translated"
    ng-style="{'width': style.translated.width, 'margin-left': style.translated.marginLeft}"></span>
  <span class="progress-bar__fuzzy"
    ng-style="{'width': style.needsWork.width, 'margin-left': style.needsWork.marginLeft}"></span>
  <span class="progress-bar__untranslated"
    ng-style="{'width': style.untranslated.width, 'margin-left': style.untranslated.marginLeft}"></span>
</div>
