<div class="TransUnit TransUnit--suggestion TransUnit--{{suggestionCtrl.rowDisplayType()}}"
     ng-init="plural = suggestion.sourceContents.length > 1">
  <div class="TransUnit-status">
  </div>
  <div class="TransUnit-panel TransUnit-source">
    <!-- TODO stop plural form labels overlapping -->
    <div class="TransUnit-item" ng-repeat="source in suggestion.sourceContents">
      <div ng-if="plural" class="TransUnit-itemHeader">
        <span class="u-textMeta" ng-if="$first" translate>Singular Form</span>
        <span class="u-textMeta" ng-if="!$first" translate>Plural Form</span>
      </div>
      <div ng-if="!diffEnabled" ng-bind="::source"></div>
      <div ng-if="diffEnabled" semantic-diff left-obj="search[$index]" right-obj="source" class="Difference"></div>
    </div>
    <!-- TODO different display depending on imported or local -->
    <div class="TransUnit-details">
      <ul class="u-textMeta u-listInline u-sizeLineHeight-1">
        <li ng-if="isTextFlow" title="{{detail.projectId}}"><icon name="project" class="Icon--xsm"></icon> {{detail.projectName}}</li>
        <li ng-if="isTextFlow"><icon name="version" class="Icon--xsm"></icon> {{detail.version}}</li>
        <li ng-if="isTextFlow"
            title="{{detail.documentPath ? detail.documentPath + '/' : ''}}{{detail.documentName}}"><icon name="document" class="Icon--xsm"></icon> {{detail.documentName}}</li>

        <li ng-if="!isTextFlow"><icon name="import" class="Icon--xsm"></icon> {{detail.transMemorySlug}}</li>

        <li ng-if="remaining > 0"><icon name="translate" class="Icon--xsm"></icon> {{remaining}} more occurrences</li>
      </ul>
    </div>
  </div>
  <div class="TransUnit-panel TransUnit-translation u-sPV-1-2">
    <div class="TransUnit-item" ng-repeat="target in suggestion.targetContents">
      <div class="TransUnit-itemHeader" ng-if="plural">
        <span class="u-textMeta" ng-if="$first" translate>Singular Form</span>
        <span class="u-textMeta" ng-if="!$first" translate>Plural Form</span>
      </div>
      <div ng-bind="::target"></div>
    </div>
    <suggestions-body></suggestions-body>
  </div>
</div>
