:root {
  --difference-color-addition: #E0F2E7;
  --difference-color-deletion: #F4DEDF;
}

.Difference {
  display: inline-block;
  padding: 0 2px;
  border-radius: 2px;
}

.Difference--addition {
  background-color: var(--difference-color-addition);

}

.Difference--deletion {
  background-color: var(--difference-color-deletion);
}
