<div class="TransUnit-panelHeader">
  <h3 class="TransUnit-Heading">{{editorContext.srcLocale.name}} <span
    class="u-textMuted u-textUpper">{{editorContext.srcLocale.localeId}}</span>
  </h3>
  <ul class="TransUnit-panelHeaderActions u-listHorizontal">
    <li ng-show="appCtrl.PRODUCTION">
      <button class="Link Link--neutral u-sizeHeight-1_1-2"
        title="{{'Do not translate'|translate}}">
        <icon name="block" title="{{'Do not translate'|translate}}" class="u-sizeWidth-1_1-2"></icon>
    </li>
    <li class="u-gtemd-hidden" ng-hide="transUnitCtrl.isTranslationModified(phrase)">
      <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
        title="{{'Cancel edit'|translate}}" ng-click="transUnitCtrl.cancelEdit($event, phrase)">
        <icon name="cross" title="{{'Cancel edit'|translate}}"></icon>
      </button>
    </li>
  </ul>
</div>
