<div class="TransUnit-panelHeader">
  <h3 class="TransUnit-Heading">{{context.srcLocale.displayName}} <span
    class="u-textMuted u-textUpper">{{context.srcLocale.localeId}}</span>
  </h3>
  <ul class="TransUnit-panelHeaderActions u-listHorizontal">
    <li>
      <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
        title="{{'Do not translate'|translate}}"><i
        class="i i--large i--block"></i><span
        class="u-hiddenVisually" translate>Do not translate</span></button>
    </li>
  </ul>
</div>
