<div class="TransUnit-panelFooter u-cf">
  <div class="u-floatLeft u-sizeHeight-1_1-2">
    <ul class="u-listHorizontal">
      <li class="u-gtemd-hidden">
        <button class="Link Link--neutral u-sizeHeight-1_1-2"
          title="{{'Details'|translate}}">
          <icon name="info" title="{{'Details'|translate}}" class="u-sizeWidth-1_1-2"></icon>
        </button>
      </li>
      <li>
        <button class="Link Link--neutral u-sizeHeight-1_1-2"
          title="{{'Translation Memory'|translate}}">
          <icon name="suggestions" title="{{'Translation Memory'|translate}}" class="u-sizeWidth-1_1-2"></icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="u-floatRight">
    <div class="ButtonGroup ButtonGroup--hz ButtonGroup--borderCollapse">
      <div class="ButtonGroup-item">
        <button class="Button Button--default Button--success u-sizeHeight-1_1-2"
          title="Ctrl + Enter" ng-click="translationCtrl.saveAsTranslated($event)" translate>Save as translated
        </button>
      </div>
      <div class="ButtonGroup-item">
        <button class="Button Button--success u-sizeHeight-1_1-2"
          title="{{'Save as…'|translate}}">
          <icon name="chevron-down" title="{{'Save as…'|translate}}" class="Icon--sm"></icon>
        </button>
      </div>
    </div>
  </div>
</div>
