<div class="TransUnit-panelFooter u-cf">
  <div class="u-floatLeft u-sizeHeight-1_1-2">
    <ul class="u-listHorizontal">
      <li class="u-gtemd-hidden">
        <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
          title="{{'Details'|translate}}"><i class="i i--large i--info"></i>
        </button>
      </li>
      <li>
        <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
          title="{{'Translation Memory'|translate}}"><i
          class="i i--large i--suggestion"></i><span
          class="u-hiddenVisually" translate>Translation Memory</span></button>
      </li>
    </ul>
  </div>
  <div class="u-floatRight">
    <div class="ButtonGroup ButtonGroup--hz ButtonGroup--borderCollapse">
      <div class="ButtonGroup-item">
        <button class="Button Button--default Button--success u-sizeHeight-1_1-2"
          title="Ctrl + Enter" ng-click="translationCtrl.saveAsTranslated($event)" translate>Save as translated
        </button>
      </div>
      <div class="ButtonGroup-item">
        <button class="Button Button--success u-sizeHeight-1_1-2"
          title="{{'Save as…'|translate}}"><i class="i i--arrow-down"></i>V<span
          class="u-hiddenVisually" translate>Save as…</span></button>
      </div>
    </div>
  </div>
</div>
