<div class="edit-item__panel-footer l--cf-of">
  <div class="l--float-left h--1h">
    <ul class="list--inline">
      <li class="is-hidden--m-up">
        <button class="button--link link--neutral h--1h w--r-1h"
          title="Details"><i class="i i--large i--info"></i>
        </button>
      </li>
      <li>
        <button class="button--link link--neutral h--1h w--r-1h"
          title="{{'Translation Memory'|translate}}"><i
          class="i i--large i--suggestion"></i><span
          class="is-sr-only" translate>Translation Memory</span></button>
      </li>
    </ul>
  </div>
  <div class="l--float-right">
    <div class="button--group">
      <button class="button button--flat button--success h--1h"
        title="Ctrl + Enter" translate>Save as translated
      </button>
      <button class="button button--flat button--success h--1h "
        title="{{'Save as…'|translate}}"><i class="i i--arrow-down"></i><span
        class="is-sr-only" translate>Save as…</span></button>
    </div>
  </div>
</div>
