<div class="TransUnit-panelHeader">
  <h3 class="TransUnit-Heading">{{translationCtrl.getLocaleDisplayName(context.localeId)}} <span
    class="u-textMuted u-textUpper">{{context.localeId}}</span></h3>
  <ul class="TransUnit-panelHeaderActions u-listHorizontal">
    <li>
      <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
        title="Copy {{context.srcLocale.displayName}} ({{context.srcLocale.localeId}})"
        ng-click="transUnitCtrl.copySource($event)">
        <icon name="copy" title="Copy {{context.srcLocale.displayName}} ({{context.srcLocale.localeId}})"></icon>
      </button>
    </li>
    <li class="u-sm-hidden" ng-hide="transUnitCtrl.isTranslationModified(phrase)">
      <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
        title="{{'Cancel edit'|translate}}" ng-click="transUnitCtrl.cancelEdit($event)">
        <icon name="cross" title="{{'Cancel edit'|translate}}"></icon>
      </button>
    </li>
    <li ng-show="transUnitCtrl.isTranslationModified(phrase)">
      <button class="Link Link--neutral u-sizeHeight-1_1-2 u-sizeWidth-1_1-2"
        title="{{'Undo edit'|translate}}" ng-click="transUnitCtrl.undoEdit($event)">
        <icon name="undo" title="{{'Undo edit'|translate}}"></icon>
      </button>
    </li>
  </ul>
</div>
