<div class="edit-item__panel-header">
  <h3 class="edit-item__heading">{{context.locale.displayName}} <span
    class="txt--muted txt--uppercase">{{context.locale.localeId}}</span></h3>
  <ul class="edit-item__panel-header-actions list--inline">
    <li>
      <button class="button--link link--neutral h--1h w--r-1h"
        title="Copy {{context.srcLocale.displayName}} ({{context.srcLocale.localeId}})"
        ng-click="copySource($event)">
        <i class="i i--large i--copy"></i>
        <span class="is-sr-only" translate>Copy {{context.srcLocale.displayName}} ({{context.srcLocale.localeId}})</span>
      </button>
    </li>
    <li>
      <button class="button--link link--neutral h--1h w--r-1h"
        title="{{'Cancel edit'|translate}}" ng-click="cancelEdit($event)"><i
        class="i i--large i--cancel"></i><span class="is-sr-only" translate>Cancel edit</span>
      </button>
    </li>
  </ul>
</div>
